absl-py==0.13.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
flatbuffers==1.12
flloat==0.3.0
future==0.18.2
gast==0.4.0
google-auth==1.32.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
graphviz==0.16
grpcio==1.34.1
gym==0.18.3
gym-sapientino @ git+https://github.com/whitemech/gym-sapientino.git@736e819e8129b8bc22d418148a9a612876aefc78
gym-sapientino-case @ file:///home/andrea/Documenti/EAI/RA/project/src/gym-sapientino-case
h5py==3.1.0
idna==2.10
importlib-metadata==4.6.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lark-parser==0.11.3
Markdown==3.3.4
matplotlib==3.4.2
mpmath==1.2.1
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
pandas==1.3.0
Pillow==8.2.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.0.1
pyglet==1.5.0
pyparsing==2.4.7
pythomata==0.3.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.0
seaborn==0.11.1
six==1.15.0
sympy==1.8
temprl @ git+https://github.com/whitemech/temprl.git@71da373bc8d9e859895a1aaacbe340df61103037
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
-e git+https://github.com/tensorforce/tensorforce.git@a3bd1ff47984d191a5289f50ccbe3228e397ecfb#egg=Tensorforce
termcolor==1.1.0
tqdm==4.61.1
typing-extensions==3.7.4.3
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
